
<div class="top-bar bg-black text-white text-center p-2">
  <span>Summer Sale For All Swim Suits And Free Express Delivery - Off 50%! <a>Shop Now</a></span>
  <span class="float-end me-3">
    English <i class="fa-solid fa-chevron-down"></i>
  </span>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Exclusive</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/signup">Signup</a></li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      <div class="input-group me-3">
        <input type="text" class="form-control position-relative" placeholder="What are you looking for?">
        <span class=""><i class="fas fa-search position-absolute"></i></span>
      </div>
      <a class="nav-link" href="/wishlist">
        <i class="fas fa-heart  me-3" style="font-size: 24px;"></i> 
        <span class="badge bg-danger"  *ngIf="wishCount > 0">{{ wishCount }}</span>
      </a>


      <a class="nav-link" href="/cart">
        <i class="fas fa-shopping-cart me-3" style="font-size: 24px;"></i>
        <span class="badge bg-danger"  *ngIf="cartCount > 0">{{ cartCount }}</span>
      </a>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-decoration-none" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user me-1 text-dark fs-5"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end bg-dark text-white" aria-labelledby="accountDropdown">
          <li class="dropdown-item text-white">
            <i class="fas fa-user me-2"></i> Manage My Account
          </li>
          <li class="dropdown-item text-white">
            <i class="fas fa-box me-2"></i> My Order
          </li>
          <li class="dropdown-item text-white">
            <i class="fas fa-times-circle me-2"></i> My Cancellations
          </li>
          <li class="dropdown-item text-white">
            <i class="fas fa-star me-2"></i> My Reviews
          </li>
          <li class="dropdown-item text-white" (click)="logout()">
            <i class="fas fa-sign-out-alt me-2" ></i> Logout
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<nav aria-label="breadcrumb" class="mt-5" style="margin-left: 100px;">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home"  style="text-decoration: none; color: gray;">Home</a></li>
      <li class="breadcrumb-item active text-dark" aria-current="page">Cart</li>
  </ol>
</nav>

<div class="container my-5">
  <div class="cart-section mt-5">
    <div *ngIf="cart.length === 0" class="alert alert-warning">Your cart is empty</div>
    <div class="cart-items" *ngIf="cart.length > 0">
      <div class="row mb-3 cart-header py-3">
        <div class="col-6"><strong>Product</strong></div>
        <div class="col-2"><strong>Price</strong></div>
        <div class="col-2"><strong>Quantity</strong></div>
        <div class="col-2"><strong>Subtotal</strong></div>
      </div>
      <div class="cart-product-card row mb-3 px-5" *ngFor="let product of cart">
        <div class="col-md-6 d-flex align-items-center">
          <div class="position-relative">
            <img [src]="product.image" class="img-fluid" alt="Product Image" style="width: 100px;">
            <button class="btn btn-danger btn-sm position-absolute wrong" (click)="removeFromCart(product.id)">
              <i class="fa fa-times"></i>
            </button>
          </div>
          <div class="ml-3">
            <h5>{{ product.title }}</h5>
          </div>
        </div>
        <div class="col-md-2 d-flex align-items-center">
          <p>$ {{ product.price }}</p>
        </div>
        <div class="col-md-2 d-flex align-items-center">
          <input type="number" [(ngModel)]="product.quantity" class="form-control" (change)="updateQuantityFromInput(product, $event)">

        </div>
        <div class="col-md-2 d-flex align-items-center">
          <p>$ {{ product.price * product.quantity }}</p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 d-flex align-items-center mt-2">
          <button class="btn btn-outline-dark px-5 mb-3" [routerLink]="['/home']">Return To Shop</button>
          <div class="ms-auto">
            <button class="btn btn-outline-dark px-5 mb-3 justify-content-right" (click)="updateCart()">Update Cart</button>
           
          </div>
        </div>
      </div>
       <div class="row mt-4">
         <div class="col-md-6 mt-4">
          <input type="text" class="form-control d-inline w-50" placeholder="coupon code" [(ngModel)]="couponCode">
          <button class="btn btn-danger mb-2 ms-3" (click)="applyCoupon()">Apply Coupon</button>
          <div *ngIf="discount > 0">
            <h3>Total Price: ${{ getTotalPrice() | number: '1.2-2' }}</h3>
            <h3>Discount: ${{ discount | number: '1.2-2' }}</h3>
            <h3>Final Price: ${{ getFinalPrice() | number: '1.2-2' }}</h3>
          </div>
        </div> 




      <div class="col-md-6 mb-3">
      <div class="cart-total bg-light p-4 mt-4 rounded">
        <p><strong>Cart Total</strong></p>
        <div class="row align-items-center">
          <div class="col-12 d-flex align-items-center mt-2">
            <p>Subtotal: </p>
            <div class="ms-auto">
              <span class="justify-content-right value">$ {{ getTotalPrice() }}</span>
            </div>
          </div>
        </div>
      
        <hr>
        <div class="row align-items-center">
          <div class="col-12 d-flex align-items-center mt-2">
            <p>Shipping:</p>
            <div class="ms-auto">
              <span class="justify-content-right value">Free</span>
            </div>
          </div>
        </div>

        <hr>
        <div class="row align-items-center">
          <div class="col-12 d-flex align-items-center mt-2">
            <p>Total: </p>
            <div class="ms-auto">
              <span class="justify-content-right value">$ {{ getTotalPrice() }}</span>
            </div>
          </div>
        </div>

        <div class="text-center">
        <button class="btn btn-danger px-5 text-center"><a href="/checkout" style="text-decoration: none; color: white;">Proceed to Checkout</a></button>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>



 <!-- Footer Section -->
 <footer class="footer-dark">
  <div class="container">
    <div class="row footer">
      <div class="col-md-3">
        <h5>Exclusive</h5>
        <p>Subscribe</p>
        <p>Get 10% off your first order</p>
        <form class="subscribe-form">
          <div class="button-container py-2">
            <button class="responsive-button ps-3">
              Enter your email
              <i class="fa-regular fa-paper-plane"></i> 
            </button>
        </div>
        </form>
      </div>
      
      <div class="col-md-3">
        <h5>Support</h5>
        <p>111 Bijoy sarani, Dhaka,<br> DH 1515, Bangladesh.</p>
        <p>exclusivegmail.com</p>
        <p>+88015-88888-9999</p>
      </div>
    
      <div class="col-md-2">
        <h5>Account</h5>
        <ul class="list-unstyled">
          <li><a href="#">My Account</a></li>
          <li><a href="#">Login / Register</a></li>
          <li><a href="#">Cart</a></li>
          <li><a href="#">Wishlist</a></li>
          <li><a href="#">Shop</a></li>
        </ul>
      </div>
     
      <div class="col-md-2">
        <h5>Quick Link</h5>
        <ul class="list-unstyled">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms Of Use</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      
      <div class="col-md-2">
        <h5>Download App</h5>
        <p>Save $3 with App New User Only</p>
        <div class="d-flex mb-2">
          <img src="assets/images/qr.png" alt="QR Code" class="me-2 w-50 h-25">
          <div class="app-links">
         <a> <img src="assets/images/googleplay.png" alt="Google Play" class="me-2 py-1 mb-3 border img-footer img-fluid w-100 "></a>
         <a href="#"><img src="assets/images/app store.png" alt="App Store" class="border py-1  img-footer img-fluid w-100 "></a> 
          </div>
        </div>
        <div class="social-icons text-center">
          <a href="#" class="me-4"><i class="fa-brands fa-facebook"></i></a>
          <a href="#" class="me-4"><i class="fab fa-twitter"></i></a>
          <a href="#" class="me-4"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      </div>
    </div>
    
    <div class="text-center mt-4">
      <p>&copy; Copyright Rimel 2022. All rights reserved.</p>
    </div>
  </div>
</footer>
